{% extends 'base.html' %} {% block content %} {% load static %}

<section id="about">
  <div class="overlay"></div>
  <div class="about-top">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h1>Hakkımızda</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-6">
        <h2>DentAYDIN'a Hoş Geldiniz</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, in!
          Incidunt culpa dignissimos, voluptatibus impedit eaque, debitis dicta
          ea, possimus corporis quisquam esse iusto. Dignissimos vel quam vitae
          obcaecati officiis.
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda,
          molestiae. Eos ullam doloribus aspernatur consequuntur possimus vitae.
          Hic doloremque porro incidunt fugiat quia, magnam adipisci, fuga
          tempora qui totam similique.
        </p>
      </div>
      <div class="col-md-6">
        <h2>DentAYDIN'a Hoş Geldiniz</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius porro
          mollitia, voluptate placeat omnis similique earum. Ipsa saepe soluta,
          dicta temporibus quos pariatur aliquid placeat magnam rem, enim eius!
          Nobis.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis
          quam iusto reiciendis omnis nam atque aliquam voluptates excepturi
          tenetur nulla. Debitis fugit reprehenderit doloremque quia eaque nisi
          voluptatem placeat alias!
        </p>
      </div>
    </div>
  </div>

  <div class="about-mid">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <h3>Neden Biz?</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod exercitationem dignissimos explicabo, quisquam iusto quibusdam cupiditate ducimus velit quis cumque itaque nihil dolor vero reiciendis architecto quae. Quos, ullam porro!</p>
              </div>
              <div class="col-md-4">
                  Neden?
              </div>
          </div>
      </div>
  </div>
</section>

{% endblock content%}
