{% extends 'base.html' %} {% block content %} {% load static %}

<section id="about">
    <div class="overlay"></div>
    <div class="about-top">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <h1>Hakkımızda</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 pt-3">
        <div class="row">
            <div class="col-md-6">
                <h2>DentAYDIN'a Hoş Geldiniz</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, in! Incidunt culpa dignissimos, voluptatibus impedit eaque, debitis dicta ea, possimus corporis quisquam esse iusto. Dignissimos vel quam vitae obcaecati officiis.
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, molestiae. Eos ullam doloribus aspernatur consequuntur possimus vitae. Hic doloremque porro incidunt fugiat quia, magnam adipisci, fuga tempora qui totam similique.
                </p>
            </div>
            <div class="col-md-6">
                <h2>DentAYDIN'a Hoş Geldiniz</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius porro mollitia, voluptate placeat omnis similique earum. Ipsa saepe soluta, dicta temporibus quos pariatur aliquid placeat magnam rem, enim eius! Nobis.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quam iusto reiciendis omnis nam atque aliquam voluptates excepturi tenetur nulla. Debitis fugit reprehenderit doloremque quia eaque nisi voluptatem placeat alias!
                </p>
            </div>
        </div>
    </div>

    <div class="about-mid">
        <div class="container mt-5 ">
            <div class="row">
                <div class="col-md-12 text-center mt-5">
                    <h2>Neden Biz?</h2>
                    <p class="mt-3 mb-3">Bizi tercih eden binlerce kişi haksız olamaz.</p>
                </div>
                <div class="about-cards">
                    <div class="card">
                        <h3>20 Yıllık Tecrübe</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt eius natus eum laborum omnis dignissimos, architecto officia earum? Quae dolores perferendis nostrum vero praesentium unde et sapiente nemo, quod totam!</p>
                    </div>
                    <div class="card">
                        <h3>Kalite Belgesi</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ab harum obcaecati facilis odio? Dicta nemo laudantium error fugit inventore ullam praesentium magni commodi, quis ex possimus veritatis qui provident?</p>
                    </div>
                    <div class="card">
                        <h3>Kanıtlanmış Tedavi</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ab harum obcaecati facilis odio? Dicta nemo laudantium error fugit inventore ullam praesentium magni commodi, quis ex possimus veritatis qui provident?</p>
                    </div>
                    <div class="card">
                        <h3>İmplant Noktası</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ab harum obcaecati facilis odio? Dicta nemo laudantium error fugit inventore ullam praesentium magni commodi, quis ex possimus veritatis qui provident?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content%}