{% extends 'base.html' %} {% block content %} {% load static %}

<section id="blog">
    <div class="overlay"></div>
    <div class="blog-top">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <h1>Hizmetlerimiz</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-5 my-blog">
       {% for BlogPost in object_list  %}
        <article>
        <h1> {{BlogPost.BlogTitle}} </h1>
        <h5> {{BlogPost.BlogDate}} </h5>
        <p>{{BlogPost.BlogContent|safe}}</p>
        </article>
       {% endfor %}

    </div>

</section>

{% endblock content%}