<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-primary text-white">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">


            <!-- Content -->
            <div class="col-md-12 text-center">
                <h5>Ata Bilgisayar</h5>
                <p>Siz düşünün, biz gerçekleştirelim.</p>
            </div>

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->