{% extends 'base.html' %} {% block content %} {% load static %}

<section id="home">
    <header class="homepage">

        <div class="container-fluid h-100">
            <div class="overlay"></div>

            <div class="row h-100 align-items-center">

                <div class="col-12 text-center">

                    <h1>DentAYDIN</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-3">
      <div class="home-mid">
        <div class="my-border">
            <h5>Çalışma Saatlerimiz</h5>
            <ul class="list-unstyled">
              <li>Pazartesi-Cuma: 09.00-18.00</li>
              <li>Pazartesi-Cuma: 09.00-18.00</li>
              <li>Pazartesi-Cuma: 09.00-18.00</li>
            </ul>
            <h5>Randevu Alın</h5>
            <p>Sitemiz üzerinden randevu alabilirsiniz</p>
            <button class="btn">Randevu Al</button>
        </div>
        <div class="my-border">
          <h5>Hakkımızda</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dignissimos, expedita tempora eligendi accusantium nemo aut voluptate ab ipsum! Repudiandae neque ea magnam ex voluptatum adipisci sunt temporibus omnis atque.</p>
        </div>
        <div>
          <img class="img-fluid" src="{% static 'img/doctor.png' %}" alt="doctor">
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row mt-3">
            <div class="col-sm-12 text-center">
                <h2>Ağız ve Diş Sağlığı Merkezi</h2>
            </div>
            {% for LatestPost in object_list %}
            <div class="col-sm-4">
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <img class="card-img-top" src="{{LatestPost.LatestImage.url}}" alt="" />
                        <h5 class="card-title">{{LatestPost.LatestTitle}}</h5>
                        <p class="card-text">{{LatestPost.LatestContent}}</p>
                        <button type="button" class="btn btn-primary">
              Devamını Oku...
            </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Hello</h1>
                <p>Just some text here</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}